parameters:
    level: 8

    paths:
        - src
        - tests

    ignoreErrors:
        - identifier: property.uninitializedReadonly
        - identifier: property.readOnlyAssignNotInConstructor

    type_coverage:
        return: 50
        param: 35.5
        property: 70

        constant: 85
